header {
  border-bottom: 5px solid #F1B8E5;
}
.container-fluid .container {
  padding-bottom: .5em;
  padding-top: .5em;
}

header h1 {
  font-size: 1.8em;
  line-height: 1;
}
header .container div:nth-child(1) {
  align-items: center;
  color: #8D8D8D;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
header .container div:nth-child(1) img {
  margin-right: .3em;
  vertical-align: bottom;
}

header .container div:nth-child(2) {
  color: #707070;
  text-align: right;
}
header .container div:nth-child(2) span {
  background-color: #E6E6E6;
  border-radius: 10em;
  display: inline-block;
  font-size: .9em;
  padding: .2em .5em;
  text-align: right;
}
header .container div:nth-child(2) span span {
  padding: 0;
}
header .container div:nth-child(2) img {
  margin-right: .5em;
  vertical-align: middle;
}
.navbarCommon.navbar {
  background-color: #F7DB91;
  color: #000;
  --bs-navbar-padding-y: 0;
}
.navbarCommon.navbar-expand-md .navbar-nav .nav-link {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  padding-left: 3em;
  padding-right: 3em;
}

.navbarCommon a.active,
.navbarCommon a:hover {
  background-color: #72DDF1;
  color: #fff!important;
}

.overlay-img {
  border-bottom: 5px solid #F1B8E5;
  border-top: 5px solid #F7DB91;
  margin-bottom: 1em;
  position: relative;
}
.overlay-img h2 {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
main .card {
  border: 0;
  margin-bottom: 1em;
}
main .card-body {
  padding: 0;
}
main .card .h5 {
  color: #079CC4;
  font-size: 1em;
  font-weight: normal;
  padding-top: .5em;
}
main .card .card-text {
  color: #000;
  font-size: .8em;
}
.sectionHome {
  background-color: #079CC4;
  color: #fff;
}
.sectionHome a {
  color: #fff;
}
.sectionHome ul {
  margin: 0;
}
.sectionHome li {
  margin-bottom: 1em;
}
footer {
  background-color: #F1B8E5;
}
@media all and (max-width: 430px) {
  header h1 {
    font-size: 1.2em;
    vertical-align: bottom;
  }
  header h1 img {
    height: 1.2em;
    width: auto;
  }
}
@media all and (max-width: 767px) {
  .align-end.container-fluid {
    justify-content: flex-end!important;
    margin: .5em;
    max-width: 540px;
    padding-right: 1em;
  }
  button.navbar-toggler.collapsed {
    background-color: #fff6b9;
    border: 0;
  }
  button.navbar-toggler.collapsed:focus, 
  button.navbar-toggler.collapsed:focus-visible {
    border: 0;
    box-shadow: none;
    outline: none;
  }
}
@media all and (max-width: 1119px) {
  .navbarCommon.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.3em;
    padding-right: 1.3em;
  }
}